<script>
$(document).ready(function(){
    $('#btnGet').click(function(e){
        $.ajax({
            url: "posts",
            type: "get",
            success: function (data) {
                if (typeof data.error!="undefined") {
                    alert(data.error);
                    $('#btnFork').button("reset");
                } else {
                    var results = data.results;
                    for(var i=0; i<results.length; ++i) {
                        var cont = $("<div class='col-9'><b>"+results[i].title+"</b>"+results[i].desc+"</div>");
                        if (results[i].images && results[i].images.length>0) {
                            $("<div class='col-3'><a href='"+results[i].url+"'><img src='"+results[i].images[0]+"' class='img-responsive'></a></div>").appendTo('#posts');
                        }
                        else {
                             $("<div class='col-3'></div>").appendTo('#posts');
                        }
                        cont.appendTo("#posts");
                    }
                }
            },
            error: function (e) {console.log('error:'+e);$('#btnFork').button("reset");}
        });
    });
});
</script>
<div class="container">
    This is a social and content API entrypoint.
    
    <form action="/fetch" method="POST">
        <table class="table table-striped">
            <tr>
                <th>Source</th>
                <th></th>
                <th>Url</th>
                <th>Text</th>
            </tr>
            <%for (var i=0;i<results.length;i++) {%>
            <tr>
                <td><%=results[i].account%></td>
                <td><input type="checkbox" id="urls" name="urls" <%if(typeof results[i].exists!="undefined" && results[i].exists==="1"){%>checked<%}%> value="<%=results[i].url%>"></td>
                <td><%=results[i].url%></td>
                <td><%=results[i].text%></td>
            </tr>
            <%}%>
            <tr>
                <td colspan="99"><button type="submit">OK</button></td>
            </td>
        </table>
    </form>
    
    <hr>
    <button type="button" id="btnGet">Get Posts</button>
    <div class="row">
        <div id="posts" class="col-12">
        
        </div>
    </div>
</div>